
MYSQL_ROOT_PASSWORD=cambia_esto_root
MYSQL_DATABASE=redmine
MYSQL_USER=redmine
MYSQL_PASSWORD=cambia_esto_db

# Generar con: openssl rand -hex 64
REDMINE_SECRET_KEY_BASE=cambia_esto_con_openssl_rand_hex_64
